@charset "UTF-8";
:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --third-color: #fff;
  --active-color: #2196f3;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --logo-header-color: #000;
  --form-button-focus-color: #188ce8;
  --icons-main-color: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  /* скрываем ненужные заголовки */
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.flex-four-items-in-row {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.flex-three-items-in-row {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icons-main-color);
}

body {
  font-family: "Roboto", sans-serif;
  /* задаем основной шрифт */
}

a {
  text-decoration: none;
  /* убираем подчеркивание ссылок */
}

ul {
  list-style-type: none;
  /* убираем маркеры */
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.header .container {
  display: flex;
  align-items: center;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.form-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover, .form-btn:focus {
  background-color: var(--form-button-focus-color);
  cursor: pointer;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--active-color);
  letter-spacing: 0.03em;
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo--dark-text {
  color: var(--logo-header-color);
}

.logo--light-text {
  color: var(--third-color);
}

.socials {
  display: flex;
  justify-content: space-between;
}

.socials__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__icon:hover, .socials__icon:focus {
  background-color: var(--active-color);
  fill: var(--third-color);
}

.socials__icon--dark-theme {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--third-color);
}

.join {
  margin-left: 70px;
  width: 206px;
}

.subscribe {
  margin-left: auto;
}

.subs-form {
  display: flex;
}

.subs-form__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--third-color);
}

.subs-form__input::placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subs-form__btn {
  margin: 0 0 0 12px;
}

.subs-form__btn svg {
  margin-left: 10px;
  fill: var(--third-color);
}

.filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border: none;
  border-radius: 4px;
  background-color: var(--light-bg-color);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  color: var(--third-color);
  cursor: pointer;
  background-color: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  border-bottom: 1px solid #ececec;
}

.menu, .header-contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu__item {
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__item:hover, .menu__item:focus {
  color: var(--active-color);
}

.menu__item--active {
  color: var(--active-color);
  position: relative;
}

.menu__item--active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--active-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu li:not(:last-child),
.header-contacts li:not(:last-child) {
  margin-right: 50px;
  /* отступы между елементами списков в хедере */
}

/* ============ header contacts ============ */
.header-contacts {
  margin-left: auto;
  /* придавливаем контакты вправо */
}

.header-contacts__link {
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  fill: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--active-color);
  fill: var(--active-color);
}

.header-contacts__icon {
  margin-right: 10px;
}

.projects__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover, .projects__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__wrapper {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  transform: translateY(100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 0ms linear 100ms;
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  transform: translateY(0);
  opacity: 1;
}

.projects__meta {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.projects__filter {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
}

.footer-contacts {
  font-style: normal;
  /* убираем курсив */
  margin-top: 20px;
}

.footer-contacts li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__address,
.footer-contacts__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts__address {
  color: var(--third-color);
  margin-bottom: 9px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--active-color);
}
/*# sourceMappingURL=portfolio.css.map */