.header {
  border-bottom: 1px solid #ececec;
}

.menu {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  li:not(:last-child) {
    margin-right: 50px; /* отступы между елементами списков в хедере */
  }
}

.menu__item {
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--active-color);
  }
}

.menu__item--active {
  color: var(--active-color);
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--active-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/* ============ header contacts ============ */
.header-contacts {
  margin-left: auto; /* придавливаем контакты вправо */
}

.header-contacts__link {
  color: var(--secondary-color);
  fill: var(--secondary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--active-color);
    fill: var(--active-color);
  }
}

.burger {
  display: none;
}

@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 93px;
  }

  .header-contacts {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .header-contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header-contacts__icon {
    margin-right: 10px;
  }

  .header-contacts li:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .menu {
    margin-left: 88px;
  }

  .header-contacts {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-top: -10px;
    padding: 21px 0 21px;
  }

  .header-contacts__link {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .header-contacts__icon {
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .menu,
  .header-contacts {
    display: none;
  }

  .burger__icon {
    fill: #000;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .burger {
    display: block;
    margin-left: auto;
    padding: 10px 15px 10px 0;
    border: none;
    background-color: transparent;

    &:hover .burger__icon,
    &:focus .burger__icon {
      fill: var(--active-color);
    }
  }
}
