.join {
  // margin-left: 70px;
  width: 206px;
}

@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

@media screen and (max-width: 767px) {
  .join {
    margin: 60px auto 0;
  }
}
