:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --third-color: #fff;
  --active-color: #2196f3;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --logo-header-color: #000;
  --form-button-focus-color: #188ce8;
  --icons-main-color: #afb1b8;
}
